<% page_title "Choose a new password" %>

<h1>Choose a new password</h1>
<%= error_messages errors %>
<% unless token.to_s.empty? %>
  <%= form_start "/password", method: "patch", context: %>
    <input type="hidden" name="token" value="<%= token %>">
    <label>New password <input type="password" name="password" minlength="12" required></label>
    <button type="submit">Update password</button>
  <%= form_end %>
<% end %>
